################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Com.KiddoPay.Data/bin
/Com.KiddoPay.Data/obj
/Com.KiddoPay.Domains/bin
/Com.KiddoPay.Domains/obj
/.vs
